@import "https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/dark/main.css";
@import "https://js.arcgis.com/calcite-components/2.9.0/calcite.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.main-page {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
